<h1>New booking for <%= @pet.name %></h1>

<%= simple_form_for [@pet, @booking] do |f| %>
<%= f.input :start_date, as: :date %>
<%= f.input :end_date, as: :date %>
<%= f.submit "Confirm booking", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to pet profile", pet_path(@pet), class: "btn btn-info"%>
