<h1><%= @user.first_name %></h1>
<ul>
<% if @user.owner %>
  <%= @user.pets.each do |pet| %>
  <li>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
    <h2>
      <%= link_to pet.name, pet_path(pet) %>
    </h2>
  </li>
  <% end %>
<% end %>
</ul>
<%= link_to "Back to all", users_path %>
<br>
<% if current_user == @user %>
  <%= link_to "Add a pet", new_pet_path %>
  <%= link_to "Edit profile", edit_users_path(@user) %>
<% end %>
