<div class="container">
  <div class="edit-profile">
  <h1>Hello <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <% if current_user == @user %>
      <%= link_to "Edit profile", edit_users_path, class: "btn btn-primary", id:"profile_btn" %>
    <% end %>
  </div>

  <div class="pet-container">
  <h2>Your pets: </h2>
    <div class="row">
      <% @user.pets.each do |pet| %>
      <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card_user', pet: pet%>
      </div>
      <% end %>
    </div>
    <% if current_user == @user %>
      <%= link_to "Add a pet", new_pet_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @bookings %>
    <div class="bookings-container-first">
      <h2>Booking requests for your pets </h2>
      <div class="row bookings-container">
        <div class="col-xs-12">
          <% @bookings.each do |booking| %>
            <%= render 'shared/card_booking_messages', booking: booking %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% if current_user.bookings.any? %>
  <h2>Your bookings </h2>
    <div class="row bookings-container">
      <div class="col-xs-12">
        <% current_user.bookings.each do |booking| %>
          <%= render 'shared/card_booked_messages', booking: booking %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


