<h1><%= @user.id %> - <%= @user.first_name %> <%= @user.last_name %></h1>
<ul>

<% if @user.owner %>
  <% @user.pets.each do |pet| %>
  <li>
    <h2>
      <%= link_to pet.name.capitalize, pet_path(pet) %>
    </h2>
  </li>
  <% end %>
<% end %>
</ul>
<%= link_to "Back to all", users_path %>
<br>
<% if current_user == @user %>
  <%= link_to "Add a pet", new_pet_path %>
  <%= link_to "Edit profile", edit_users_path %>
<% end %>
