<%= simple_form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @pet.errors.full_message.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :name %>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to pet profile", pet_path(@pet), class: "btn btn-info"%>
